@import "toolkit";
@import "mixins";
@import "bootstrap.min";
@import "main";
@import "supersized";
@import "supersized.shutter";
@import "fancybox/jquery.fancybox";
@import "fonts";
@import "font-awesome.min";
@import "shortcodes";
@import "bootstrap-responsive.min";
@import "responsive";
@import "resume";

*, *:after, *:before{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
